nav {
    display: flex;
    max-height: 100px;
}

ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 3%;
    padding-top: 1%;
    margin-left: -100px;
}

li {
    list-style: none;
    display: inline-flex;
    color: #ffffff;
    font-size: 22;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.16em;
    line-height: 30px;
    text-transform: uppercase;
}

.hero-header {
    margin: 0 auto;
    text-align: center;
    max-height: calc(100vh - 100px);
    margin-bottom: 50px;
}

body {
    background-image: url("../Images/BurrageCloudsBackround.png");
    background-size: 100%;
    height: calc(100vh - 25px);
    background-repeat: no-repeat;
    margin: 0;

}

.burrage-sig-and-title {
    width: 35%;
    margin: 0 auto;
}

p {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    line-height: 30px;
}

.intro-text {
    margin: 0 auto;
    width: 50%;
    max-height: 130px;
    color: #ffffff;
}

button {
    text-transform: uppercase;
    padding: 20px 24px;
    gap: 10px;
    border: none;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.16em;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:#D38A89;
    color: #FFFAFA;
    margin-top: 25px;

}

.hero-button {
    background-color: #FFFAFA;
    color: #D38A89;
    margin: 30px;

}

.logo {
    width: 7%;
    padding: 1%;

}

.large-logo {
    width: 60%;
    align-items: center;
}

.icons {
    width: 40%;
    align-items: center;

}

footer {
    background-image: url("./../Images/FooterArt.png");
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}

.footer-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

h1 {
    font-family: 'lato', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: lighter;

}

@media only screen and (max-width: 768px) {
    .intro-text{
        margin-left: 20px;
        margin-right: 20px;
    }

    p{
        font-size: 17px;
    }

    .case-study-preview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2{
        font-size: 28px;
    }





}
.case-study-preview{
    background-color: #F6E2E2;
    padding: 20px;
    margin-top: 40px;
    margin-bottom:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.mockup-rwd{
    width: 650px;
    margin-top: 30px;
}

.case-study-content{
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    align-items: left;
}

.mockup-mobile{
    height: 450px;

}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color:black;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0.1em;


}