nav {
    max-height: 100px;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-right: 100px;

}

.nav-image{
display: flex;
flex-direction: row;
}

ul {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 10px;
    top: 0px;
}

li {
    list-style: none;
    color: #ffffff;
    font-size: 22;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.16em;
    line-height: 30px;
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline;
}

.logo {
    width: 100px;
    padding: 1%;
    justify-self: flex-start;
    margin-left: 40px;
    margin-right: auto;
    display: block;
    height: auto;
    
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hero-header {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.nav-link{
    margin: 10px;
}

.nav-link:hover {
    text-decoration: underline;
}


body {
    background-image: url("../Images/BurrageCloudsBackround.png");
    background-size: 100%;
    height: calc(100vh - 25px);
    background-repeat: no-repeat;
    margin: 0;

}

.burrage-sig-and-title {
    width: 35%;
    margin: 0 auto;
}

p {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #000000;
    line-height: 30px;
}

.intro-text {
    margin: auto;
    margin-bottom: 3%;
    margin-top: -1%;
    width: 70%;
    max-height: 130px;
    color: #ffffff;
}

button {
    text-transform: uppercase;
    padding: 20px 24px;
    gap: 10px;
    border: none;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.16em;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:#BF5554;
    color: #ffffff;
    margin-top: 25px;
    cursor: pointer;

}

.hero-button {
    background-color: #FFFAFA;
    color: #BF5554;
    margin: 30px;
    

}

.large-logo {
    width: 60%;
    align-items: center;
}

.icons {
    width: 40%;
    align-items: center;

}

footer {
    background-image: url("./../Images/FooterArt.png");
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.footer-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

h1 {
    font-family: 'lato', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: lighter;

}

.case-study-preview{
    background-color: #F6E2E2;
    padding: 20px;
    margin-top: 40px;
    margin-bottom:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.workGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 700px 700px 700px;
    grid-template-areas:
    'CARE'
    'NSA'
    'Travel'

    ;
}


.mockup-rwd{
    width: 650px;
    margin-top: 30px;
}

.case-study-content{
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    align-items: left;
}

.mockup-mobile{
    height: 450px;
    margin: 30px;
    margin-left: 205px;
    margin-right: 205px;

}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color:black;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 768px){
    .intro-text{
        width: 100%;
        margin: 0 auto;
    }
     p {
        font-size: 17px;
        line-height: 22px;
    }
    
    .case-study-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .case-study-content{
        margin: 0 5px;
        text-align: center;
    }
    
    h2 {
        font-size: 28px;
        line-height: 33px;
    }
    .mockup-rwd{
        width: 450px;
    }
    .mockup-mobile{
        height: 300px;
    }

    .nav-link{
        display: none;
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .nav-item {
        margin: 2.5rem 0;
    }
    
    .hamburger {
        display: block;
        flex-direction: column;
        cursor: pointer;
    }
    
    .bar{
        background-color: #ffffff;
    }

    .large-header-nav{
        display: flex;
        justify-content: space-between;
        width: 108%;
    }
.burrage-sig-and-title{
    min-width: 260px;
}

body {
    background-image: url("../Images/BurrageCloudsBackround.png");
    background-size: 150%;
    background-repeat: no-repeat;
    margin: 0;

}


}